In [99]:
import pandas as pd

In [100]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

----

In [101]:
airports_df = pd.read_csv('../data/airport_dataset/reference_w_airports.csv')
sports_df = pd.read_csv('../data/sports_dataset/reference_w_sports.csv')
population_df = pd.read_csv('../data/population_dataset/reference_w_population.csv')
meteorite_df = pd.read_csv('../data/meteorite_dataset/reference_w_meteorite.csv')

In [102]:
ref_df = pd.read_csv('../data/reference_w_loc.csv')

#### Sanity check: make sure all DFs have same number of rows

In [103]:
len(ref_df.index) == len(airports_df.index) == len(sports_df.index) == len(population_df.index) == len(meteorite_df.index)

False

In [104]:
ref_df.shape

(38511, 12)

In [105]:
airports_df.shape

(38511, 20)

In [106]:
sports_df.shape

(38511, 17)

In [107]:
population_df.shape

(38439, 14)

In [108]:
meteorite_df.shape

(38511, 17)

### Merge ref with airports

In [109]:
airports_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'closest_LARGE_airport_name',
       u'closest_LARGE_airport_distance', u'closest_MEDIUM_airport_name',
       u'closest_MEDIUM_airport_distance', u'closest_SMALL_airport_name',
       u'closest_SMALL_airport_distance', u'closest_CLOSED_airport_name',
       u'closest_CLOSED_airport_distance'],
      dtype='object')

In [110]:
ref_airports = ref_df.merge(airports_df[['id','closest_LARGE_airport_distance', 'closest_MEDIUM_airport_distance','closest_SMALL_airport_distance']], on='id')

### Merge ref_airports with sports

In [111]:
sports_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'closest_metro_name',
       u'closest_metro_distance', u'closest_metro_pop', u'closest_metro_m4',
       u'closest_metro_m6'],
      dtype='object')

In [112]:
sports_df.closest_metro_pop = sports_df.closest_metro_pop.str.replace(",","").astype(float)

In [113]:
ref_airports_sports = ref_airports.merge(sports_df[['id', 'closest_metro_distance', 'closest_metro_pop', 'closest_metro_m4', 'closest_metro_m6']], on='id')

### Merge ref_airports_sports with population

In [114]:
population_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'year', u'population'],
      dtype='object')

In [124]:
pop_df = population_df[['id','population']]

In [125]:
pop_df.columns

Index([u'id', u'population'], dtype='object')

In [126]:
ref_airports_sports_population = ref_airports_sports.merge(pop_df, on='id')

In [127]:
ref_airports_sports_population.shape

(38439, 20)

### Merge ref_airports_sports_population with meteorite

In [128]:
meteorite_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'meteor_name', u'distance_to_meteor',
       u'reason', u'metorite_lat', u'metorite_long', u'meteor_sighting'],
      dtype='object')

In [129]:
meteorite_df

,id,description,duration,location,reported_at,shape,sighted_at,geocoded_latitude,geocoded_longitude,city,state,country,meteor_name,distance_to_meteor,reason,metorite_lat,metorite_long,meteor_sighting
0,0,"Man repts. witnessing &quot;flash, followed by...",NaN,"Iowa City, IA",19951009,unknown,19951009,41.661256,-91.529911,Iowa City,Iowa,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
1,1,"Man on Hwy 43 SW of Milwaukee sees large, bri...",2 min.,"Milwaukee, WI",19951011,unknown,19951010,43.034993,-87.922497,Milwaukee,Wisconsin,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
2,2,Telephoned Report:CA woman visiting daughter w...,NaN,"Shelton, WA",19950103,unknown,19950101,47.215094,-123.100707,Shelton,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
3,3,Man repts. son&apos;s bizarre sighting of smal...,2 min.,"Columbia, MO",19950510,unknown,19950510,38.951883,-92.333737,Columbia,Missouri,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
4,4,Anonymous caller repts. sighting 4 ufo&apos;s ...,NaN,"Seattle, WA",19950614,unknown,19950611,47.603832,-122.330062,Seattle,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
5,6,Female student w/ friend witness huge red ligh...,2 min.,"Fargo, ND",19950419,unknown,19950420,46.877229,-96.789821,Fargo,North Dakota,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
6,7,"Man repts. bright, multi-colored obj. in NW ni...",NaN,"Las Vegas, NV",19950911,unknown,19950911,36.166286,-115.149225,Las Vegas,Nevada,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
7,8,Woman reports 2 craft fly over house. Strange...,NaN,"Morton, WA",19950214,unknown,19950115,39.909834,-75.323521,Morton,Pennsylvania,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
8,9,"Young man w/ 2 co-workers witness tiny, distin...",6 min.,"Redmond, WA",19950915,unknown,19950915,47.669414,-122.123877,Redmond,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
9,10,Man repts. seeing 2x large ships hovering in n...,NaN,"Renton, WA",19950220,unknown,19940801,47.479908,-122.203450,Renton,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
10,11,"Man &amp; mother report small, glowing, cigar-...",1 min.,"Springfield, IL",19950724,unknown,19950722,39.798976,-89.644369,Springfield,Illinois,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
11,12,"Man witnessed &quot;tablet shaped obj., like s...",NaN,"Sharon, MA",19950612,unknown,19950611,42.123710,-71.178663,Sharon,Massachusetts,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
12,13,Several children report to their father that t...,5 sec.,"Laporte, WA",19950823,unknown,19950821,41.423967,-76.494113,Laporte,Pennsylvania,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
13,14,GA Hwy. Patrol dispatch repts. trooper observe...,NaN,"Villa Rica, GA",19950416,unknown,19950416,33.732052,-84.919108,Villa Rica,Georgia,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
14,15,Woman witnesses object. (Facts unclear.),NaN,"Raymond, WA",19950207,unknown,19950207,46.686484,-123.732947,Raymond,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
15,16,Woman repts. bizarre &quot;half circle&quot; o...,NaN,"Orlando, FL",19951117,unknown,19951118,28.542400,-81.379437,Orlando,Florida,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
16,17,"Woman, children, and grandmother witness 4 biz...",5 min.,"Glade Spring, VA",19950611,unknown,19950610,36.791225,-81.771232,Glade Spring,Virginia,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
17,18,Woman repts. eight people observing very large...,25 min.,"Silver Beach, NY",19950514,unknown,19950514,40.811667,-73.806389,NYC,New York,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
18,19,Man &amp; wife witness bright white light w/ r...,NaN,"Lewiston, MT",19950204,unknown,19950204,44.100351,-70.214776,Lewiston,Maine,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
19,20,Woman witnesses &quot;meteor shower&quot; over...,NaN,"Fort Myers Beach, FL",19950911,unknown,19950812,26.452025,-81.948145,Fort Myers Beach,Florida,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
20,21,Anon. rpt. of bizarre obj. that &quot;looked l...,20 sec.,"St. Augustine, FL",19951106,unknown,19951106,29.894695,-81.314539,St. Augustine,Florida,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
21,23,Nine adults witnessing 6-8 objects moving in w...,5 min.,"Fontana, CA",19950314,unknown,19950314,34.092233,-117.435048,Fontana,California,us,Coyote Dry Lake 001,76.234200,Success,39.66667,-118.96667,1
22,25,"Woman repts. seeing two large, bright objects,...",NaN,"Lebanon, OR",19950516,unknown,19950506,44.536547,-122.906876,Lebanon,Oregon,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
23,26,Man &amp; wife witness two sightings of an obj...,30 sec.,"Newtown, CT",19950730,unknown,19950730,41.413476,-73.308644,Newtown,Connecticut,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
24,27,Father &amp; son witness strange obj. streak a...,2 sec.,"Prescott, AZ",19950822,unknown,19950822,34.540281,-112.469518,Prescott,Arizona,us,Gold Basin,135.736107,Success,31.76167,-110.75000,1
25,28,Bangor Facility empl. witnesses 6 strange ligh...,20 sec,"Quilcene, WA",19950207,unknown,19950207,47.822294,-122.875171,Quilcene,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
26,29,Man outside smoking witnesses 3 &quot;dull ora...,2 sec.,"Silverdale, WA",19950910,unknown,19950909,47.659409,-122.676632,Silverdale,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
27,30,A public employee calls NUFORC to report a ver...,15 min,"Cordova, AK",19950328,unknown,19950328,60.543944,-145.758910,Cordova,Alaska,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
28,31,"Woman repts. stationary light in sky, which di...",NaN,"Folsom, NJ",19950404,unknown,19950404,39.602061,-74.842665,Folsom,New Jersey,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
29,32,Journalist calls seeking information regarding...,NaN,"Harrisonburg, VA",19950302,unknown,19950228,38.449331,-78.868883,Harrisonburg,Virginia,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38481,61023,Dot of light moving quickly across the sky N-N...,5 minutes,"Lynnwood, WA",20100815,light,20100814,47.827866,-122.305393,Lynnwood,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38482,61024,"Pink saucer seen over Whistling Straits, Wisco...",NaN,"Whistling Straits, WI",20100815,disk,20100815,43.849569,-87.735731,Sheboygan,Wisconsin,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38483,61025,Fast Moving Dim light Filmed going Past Bright...,2 minutes,"Oak Lawn, IL",20100815,light,20100813,41.710866,-87.758108,Oak Lawn,Illinois,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38484,61026,Fireball in the skyI was out fishing on big ce...,45-60 seconds,"West Bend, WI",20100811,fireball,20100806,43.425278,-88.183428,West Bend,Wisconsin,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38485,61028,Changes shape and flashing lights- one dark wi...,10 minutes,"Boston, MA",20100810,changing,20100803,42.360482,-71.059568,Boston,Massachusetts,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38486,61030,lights over providencewhile at the fire water ...,15 minutes,"Providence, RI",20100817,diamond,20100814,41.823989,-71.412834,Providence,Rhode Island,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38487,61032,"Black object at least 20,000 ft. up, over a h...",30 seconds,"Ft. Buchanan (Puerto Rico),",20100815,circle,20100814,18.413048,-66.121114,Pueblo Viejo,Puerto Rico,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38488,61034,"Sphere-like UFO sighted over San Antonio, Texa...",30 minutes or so,"San Antonio, TX",20100807,sphere,20100805,29.424600,-98.495141,San Antonio,Texas,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38489,61035,Flame- like light moving across sky at helicop...,30 seconds,"Ardsley, NY",20100828,other,20100828,41.010653,-73.843745,Ardsley,New York,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38490,61037,four fireballs moving rapidly south at 9:45pm ...,45 seconds,"Morris, IL",20100821,fireball,20100821,60.684882,-151.122266,Morris,Illinois,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38491,61038,Large white craft seen on 1-70W during morning...,45 seconds,"Washington (near), PA",20100826,unknown,20100821,38.897643,-77.006146,Washington,District of Columbia,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38492,61040,Illuminating circular object whisking through ...,3 hours,"Lapeer, MI",20100827,circle,20100826,43.051416,-83.318834,Lapeer,Michigan,us,Mifflin,357.189992,Success,42.90750,-90.36556,1
38493,61041,"A bright orange ball moving south, stopping an...",3 minutes,"Cooperstown, NY",20100807,fireball,20100807,42.700630,-74.924321,Cooperstown,New York,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38494,61042,A Brilliant White Light Like I have never seen...,2 minutes,"Wheat Ridge, CO",20100819,circle,20100819,39.766098,-105.077206,Wheat Ridge,Colorado,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38495,61043,very bright and silent light traveling across ...,1 - 1.5 minutes,"Fond du Lac, WI",20100812,circle,20100808,43.774876,-88.445803,Fond du Lac,Wisconsin,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38496,61045,This was an orange ball of light just over the...,20 minutes,"North Myrtle Beach, SC",20100810,light,20100810,33.827841,-78.680032,North Myrtle Beach,South Carolina,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38497,61046,Bright flashing light travels erratically in b...,over 20 minutes,"Bellevue, WA",20100829,flash,20100829,47.614422,-122.192337,Bellevue,Washington,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38498,61048,"High, fast, zig-zag/wobbly flight pattern ...M...",One minute,"Montgomery, AL",20100813,unknown,20100812,32.366966,-86.300648,Montgomery,Alabama,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38499,61050,"Cross-like UFO off 91 freeway in Anaheim, CA.O...",23 minutes,"Anaheim, CA",20100808,cross,20100808,33.834752,-117.911732,Anaheim,California,us,El Mirage Dry Lake 003,58.632086,Success,39.68973,-117.61822,1
38500,61053,I seen a blunt horizontal oval light streak th...,2 seconds,"Ocala, FL",20100814,light,20100814,29.187199,-82.140092,Ocala,Florida,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38501,61054,looking North we saw a triangle shaped object ...,15 minutes,"Medford, OR",20100812,triangle,20100811,42.326418,-122.871860,Medford,Oregon,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38502,61056,Orange-yellow light at high altitude in Detroi...,1 minute,"St. Clair Shores, MI",20100810,unknown,20100807,42.496980,-82.888805,St. Clair Shores,Michigan,us,Mifflin,381.576791,Success,42.90750,-90.36556,1
38503,61057,Two bright lights in sky that almost hit then ...,2 minutes,"Downers Grove, IL",20100826,light,20100826,41.794607,-88.006900,Downers Grove,Illinois,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38504,61058,MISSOURI INVESTIGATORS GROUP REPORT: Observed ...,15 seconds,"Blue Springs, MO",20100828,light,20100701,39.017316,-94.282265,Blue Springs,Missouri,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38505,61059,i was looking up at the sky for the internatio...,30min,"Mason, OH",20100827,disk,20100828,39.360059,-84.309939,Mason,Ohio,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38506,61060,We were heading to get dinner when all three o...,40 seconds,"Los Angeles, CA",20100828,disk,20100828,34.054935,-118.244476,LA,California,us,El Mirage Dry Lake 003,55.825936,Success,39.68973,-117.61822,1
38507,61061,never seen anything like it.i was drivivg home...,10 min,"Hartwell, GA",20100820,oval,20090424,34.352882,-82.932087,Hartwell,Georgia,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38508,61062,multiple fireballs in sky over long islandat 1...,20 minutes,"Franklin Square, NY",20100826,fireball,20100821,40.707324,-73.675963,Franklin Square,New York,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38509,61063,"Very bright flashing in a pattern of red, whit...",at lest 45 min,"Brighton, CO",20100827,circle,20100827,39.985262,-104.820528,Brighton,Colorado,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0
38510,61065,Flash of light made me look up to see a dark c...,15 seconds,"Fort Knox, KY",20100824,triangle,20050502,37.889672,-85.966417,Fort Knox,Kentucky,us,NaN,NaN,No Meteorites in state for the year,NaN,NaN,0

In [130]:
len(meteorite_df['distance_to_meteor'].notnull())

38511

In [131]:
meteorite_df['meteor_sighting'] = meteorite_df['distance_to_meteor'].notnull().astype(int)

In [132]:
final_df = ref_airports_sports_population.merge(meteorite_df[['id', 'meteor_sighting']], on='id')

In [133]:
final_df.shape

(38439, 21)

In [134]:
final_df.to_csv("ufo_dataset_final.csv" ,index=False)

In [135]:
# final_df.to_pickle('../data/pickle_files/ufo_dataset_final.pkl')
# df = pd.read_pickle('../data/pickle_files/ufo_dataset_final.pkl')