In [86]:
import pandas as pd

In [87]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

----

In [88]:
airports_df = pd.read_csv('../data/airport_dataset/reference_w_airports.csv')
sports_df = pd.read_csv('../data/sports_dataset/reference_w_sports.csv')
population_df = pd.read_csv('../data/population_dataset/reference_w_population.csv')
meteorite_df = pd.read_csv('../data/meteorite_dataset/reference_w_meteorite.csv')

In [89]:
ref_df = pd.read_csv('../data/reference_w_loc.csv')

#### Sanity check: make sure all DFs have same number of rows

In [90]:
len(ref_df.index) == len(airports_df.index) == len(sports_df.index) == len(population_df.index) == len(meteorite_df.index)

False

In [91]:
ref_df.shape

(38511, 12)

In [92]:
airports_df.shape

(38511, 20)

In [93]:
sports_df.shape

(38511, 17)

In [94]:
population_df.shape

(38439, 14)

In [95]:
meteorite_df.shape

(38511, 17)

### Merge ref with airports

In [96]:
airports_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'closest_LARGE_airport_name',
       u'closest_LARGE_airport_distance', u'closest_MEDIUM_airport_name',
       u'closest_MEDIUM_airport_distance', u'closest_SMALL_airport_name',
       u'closest_SMALL_airport_distance', u'closest_CLOSED_airport_name',
       u'closest_CLOSED_airport_distance'],
      dtype='object')

In [97]:
airports_subset_df = airports_df[['id','geocoded_latitude','geocoded_longitude','closest_LARGE_airport_distance', 'closest_MEDIUM_airport_distance','closest_SMALL_airport_distance']]

In [98]:
airports_subset_df.columns.values[1] = 'airport_lat'
airports_subset_df.columns.values[2] = 'airport_lon'

In [99]:
airports_subset_df.head(1)

,id,airport_lat,airport_lon,closest_LARGE_airport_distance,closest_MEDIUM_airport_distance,closest_SMALL_airport_distance
0,0,41.661256,-91.529911,12.498008,6.616011,0.683006

In [100]:
ref_airports = ref_df.merge(airports_subset_df, on='id')

In [101]:
ref_airports.head()

,id,description,duration,location,reported_at,shape,sighted_at,geocoded_latitude,geocoded_longitude,city,state,country,airport_lat,airport_lon,closest_LARGE_airport_distance,closest_MEDIUM_airport_distance,closest_SMALL_airport_distance
0,0,"Man repts. witnessing &quot;flash, followed by...",NaN,"Iowa City, IA",19951009,unknown,19951009,41.661256,-91.529911,Iowa City,Iowa,us,41.661256,-91.529911,12.498008,6.616011,0.683006
1,1,"Man on Hwy 43 SW of Milwaukee sees large, bri...",2 min.,"Milwaukee, WI",19951011,unknown,19951010,43.034993,-87.922497,Milwaukee,Wisconsin,us,43.034993,-87.922497,1.801887,1.157715,1.716202
2,2,Telephoned Report:CA woman visiting daughter w...,NaN,"Shelton, WA",19950103,unknown,19950101,47.215094,-123.100707,Shelton,Washington,us,47.215094,-123.100707,43.233065,16.484896,3.339607
3,3,Man repts. son&apos;s bizarre sighting of smal...,2 min.,"Columbia, MO",19950510,unknown,19950510,38.951883,-92.333737,Columbia,Missouri,us,38.951883,-92.333737,13.834501,7.889876,3.120229
4,4,Anonymous caller repts. sighting 4 ufo&apos;s ...,NaN,"Seattle, WA",19950614,unknown,19950611,47.603832,-122.330062,Seattle,Washington,us,47.603832,-122.330062,3.343976,11.644950,8.871067

### Merge ref_airports with sports

In [102]:
sports_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'closest_metro_name',
       u'closest_metro_distance', u'closest_metro_pop', u'closest_metro_m4',
       u'closest_metro_m6'],
      dtype='object')

In [103]:
sports_df.closest_metro_pop = sports_df.closest_metro_pop.str.replace(",","").astype(float)

In [104]:
sports_subset_df = sports_df[['id', 'geocoded_latitude', 'geocoded_longitude', 'closest_metro_distance', 'closest_metro_pop', 'closest_metro_m4', 'closest_metro_m6']]

In [105]:
sports_subset_df.columns.values[1] = 'sports_metro_lat'
sports_subset_df.columns.values[2] = 'sports_metro_lon'

In [106]:
ref_airports_sports = ref_airports.merge(sports_subset_df, on='id')

### Merge ref_airports_sports with population

In [107]:
population_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'year', u'population'],
      dtype='object')

In [108]:
pop_df = population_df[['id','population']]

In [109]:
pop_df.columns

Index([u'id', u'population'], dtype='object')

In [110]:
ref_airports_sports_population = ref_airports_sports.merge(pop_df, on='id')

In [111]:
ref_airports_sports_population.shape

(38439, 24)

### Merge ref_airports_sports_population with meteorite

In [112]:
meteorite_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'meteor_name', u'distance_to_meteor',
       u'reason', u'metorite_lat', u'metorite_long'],
      dtype='object')

In [113]:
len(meteorite_df['distance_to_meteor'].notnull())

38511

In [114]:
meteorite_df['meteor_sighting'] = meteorite_df['distance_to_meteor'].notnull().astype(int)

In [115]:
meteorite_subset_df = meteorite_df[['id', 'geocoded_latitude', 'geocoded_longitude','meteor_sighting']]

In [116]:
meteorite_subset_df.columns.values[1] = 'meteorite_lat'
meteorite_subset_df.columns.values[2] = 'meteorite_lon'

In [117]:
final_df = ref_airports_sports_population.merge(meteorite_subset_df, on='id')

In [118]:
final_df.shape

(38439, 27)

In [119]:
final_df.sample()

,id,description,duration,location,reported_at,shape,sighted_at,geocoded_latitude,geocoded_longitude,city,...,sports_metro_lat,sports_metro_lon,closest_metro_distance,closest_metro_pop,closest_metro_m4,closest_metro_m6,population,meteorite_lat,meteorite_lon,meteor_sighting
599,760,Woman repts. 2 sightings of red light hovering...,20 min,"Fernley, NV",19950225,unknown,19950224,39.607995,-119.251825,Fernley,...,39.607995,-119.251825,158.937206,1920000.0,1.0,1.0,1998257,39.607995,-119.251825,0

In [120]:
# final_df.to_csv("ufo_dataset_final.csv" ,index=False)

In [121]:
final_df.to_csv("ufo_dataset_final_with_lat_lon.csv" ,index=False)

In [3]:
# final_df.to_pickle('../data/pickle_files/ufo_dataset_final.pkl')
# final_df = pd.read_pickle('../data/pickle_files/ufo_dataset_final.pkl')

In [122]:
# final_df.to_pickle('../data/pickle_files/ufo_dataset_final_with_lat_lon.pkl')
# final_df = pd.read_pickle('../data/pickle_files/ufo_dataset_final_with_lat_lon.pkl')

In [125]:
ftrs = ['closest_LARGE_airport_distance', 'closest_MEDIUM_airport_distance', 'closest_SMALL_airport_distance', 'closest_metro_distance', 'closest_metro_pop', 'closest_metro_m4', 'closest_metro_m6', 'population', 'meteor_sighting']

In [126]:
df_only_ftrs = final_df[ftrs]

In [127]:
normalized_final_df=(df_only_ftrs-df_only_ftrs.min())/(df_only_ftrs.max()-df_only_ftrs.min())

In [128]:
normalized_final_df['id'] = final_df['id']
# airport coords
# normalized_final_df['airport_lat'] = final_df['airport_lat']
# normalized_final_df['airport_lon'] = final_df['airport_lon']
# # sports coords
# normalized_final_df['sports_metro_lat'] = final_df['sports_metro_lat']
# normalized_final_df['sports_metro_lon'] = final_df['sports_metro_lon']
# # meteor coords
# normalized_final_df['meteorite_lat'] = final_df['meteorite_lat']
# normalized_final_df['meteorite_lon'] = final_df['meteorite_lon']

In [129]:
# normalized_final_df.to_csv('normalized_dataset_final.csv',index=False)
normalized_final_df.to_csv('normalized_dataset_final_with_lat_lon.csv',index=False)